discord.py>=2.7.1
PyNaCl
python-dotenv
lyricsgenius
yt-dlp[default]
davey==0.1.6
audioop-lts; python_version >= "3.13"
vosk==0.3.45
discord-ext-voice-recv @ git+https://github.com/LeadFreeCandy/discord-ext-voice-recv@bec048127f4148fd147afa3182c3771b6955dc08
google-genai>=2.20,<3
aiohttp
langgraph==1.2.12
langchain-google-genai==4.4.0
